.main-tables-container {
    display: flex;
    max-width: 930px;
    margin: 0 auto;
}

.product-detail {
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}


.plans__container-slider {
    justify-content: center;
}




